# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env

# ignore google credentials:

# if you want to name your credentials "google-credentials.json":
auth/google-credentials.json

# otherwise use this catch-all to ignore all JSON files:
*.json  